.btn {
              background-color: #e7e7e7; /* Gray */
              border: none;
              color: black;
              padding: 10px 20px;
              border-radius: 12px;
              width: 150px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 18px;
              transition-duration: 0.4s;
         }

.btn:hover {
              background-color: #555555; /* Black*/
              color: white;
              }