<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
       <link rel="stylesheet" href="{{ url_for('static', filename='css/design1.css') }}">
    </head>
    <body background="{{ url_for('static', filename='baner2.jpg') }}">

        <table width="10%" align="center">
            <tr>
                <td><img src="{{ url_for('static', filename='10.png') }}" height="200" width="300"></td>
            </tr>
        </table>
        <table width="90%" align="center">
            <tr>
                <td><font color="cornsilk" size="4" face="Comic Sans MS">
                    <center>
                    Agriculture is the most important sector of Indian Economy. Indian agriculture sector accounts for 18 per cent of India's gross domestic product (GDP) and provides employment to 50% of the countries workforce. India is the world’s largest producer of pulses, rice, wheat, spices and spice products. India has many areas to choose for business such as dairy, meat, poultry, fisheries and food grains etc.
                    Hence, most of the Indians are directly or indirectly depending on the agriculture. Some are directly attached with the farming and some other people are involved in doing business with these goods. India has the capacity to produce the food grains which can make vast difference in Indian Economy
                    <p>'Seed of Life’ is prediction based software which is made with an objective to help the agricultural department of the state or country. This application can be use by any person like farmers, landlords, common man etc. This software includes two tasks:
                    </center>
                    <ul>
                    <li>Predicting the Total Production of the crop in upcoming years.</li>
                    <li>Graph Analysis for different crops using total production, exports, rainfall etc.</li>
                    </ul></font>
                </td>
            </tr>
        </table><br>
        <center>
            <a href = "http://127.0.0.1:5000/home"><button class="btn Continue">Continue</button></a>
        </center>
    </body>
</html>
